.navbar {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.button {
  padding: 1em;
}

.button img {
  display: block;
  margin: 0 auto;
}