.signUpCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 400px;
  min-height: 400px;
  width: fit-content;
  height: fit-content;
}

.header {
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 5em;
}

.title {
  margin: 0 auto;
}

.fields {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 1em;
  margin: 0 auto;
}

.field {
  min-width: 100px;
}

.id {
}

.password {
}
.confirm {
  border: none;
  border-radius: 8px;
  height: 3em;
  min-width: 250px;
  background-color: #1DA1F2;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.menus {
  display: flex;
  margin-left: auto;
}