<<<<<<< HEAD
body {
  margin: 0;
  padding: 0;
}

=======
>>>>>>> ffb100090a4c0238f4b49072b2a3c58127c54974
.feedsPage {
  height: 100%;
  overflow-y: scroll;
}

.feedsArray {
  min-width: 400px;
<<<<<<< HEAD
  max-width: 548px;
=======
>>>>>>> ffb100090a4c0238f4b49072b2a3c58127c54974
  width: 40vw;
  margin: 0 auto;
}

.feeds {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.feed {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}