.field {
  --pad: .75rem;
  position: relative;
  margin: 0 auto;
  width: 100%;
}

input {
  margin: 0;
  border: none;
  box-sizing: border-box;
}

.fieldInput {
  border-radius: 8px;
  border: 2px solid black;
  outline: none;
  height: 3em;
  width: calc(100%);
}

.fieldInput::placeholder {
  opacity: 0;
}

.fieldLabel {
  position: absolute;
  left: var(--pad);
  top: var(--pad);
  pointer-events: none;
  transition: transform 200ms;
  background: white;
  transform-origin: left;
}

.fieldInputWrong:not(:placeholder-shown){
  border: 2px solid red;
}


.fieldInputWrong:not(:placeholder-shown) + label {
  color: red;
}



.fieldInput:focus + label,
.fieldInput:not(:placeholder-shown) + label {
  transform: translateY(calc(-50% - var(--pad))) scale(.8);
}

.fieldInput:focus + label {
  color: blue;
}

.fieldInput:focus {
  border: 2px solid blue;
}