.signInPage {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-size: contain;
}

.header {
  width: 50vw;
  height: auto;
  position: relative;
}

.headerTop {
  margin-left: auto;
  padding-right: 150px;
  width: 20vw;
  height: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 10% 10%;
  
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.headerTopActive {
  opacity: 1;
}

.headerTopX {
  background-image: url('../../../public/img/background/1.JPG');
}

.headerTopIg {
  background-image: url('../../../public/img/background/2.JPG');
}

.headerTopCafe {
  background-image: url('../../../public/img/background/3.png');
}

.headerTopSoop {
  background-image: url('../../../public/img/background/4.png');
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.signInCard {
  min-width: 400px;
  min-height: 300px;
  width: 40vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
}


@media (max-width: 767px) {
  /* 모바일 스타일 */
  .signInPage {
    flex-direction: column;
  }
  .header {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* 태블릿 스타일 */
  .signInPage {
    flex-direction: row;
  }
}
@media (min-width: 1025px) {
  /* 데스크톱 스타일 */
  .signInPage {
    flex-direction: row;
  }
}